.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .app_toast {
    background-color: var(--success-color);
    position: absolute;
    border-radius: .25rem;
    font-size: .8rem;
    opacity: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    left: 50%;
    padding: .5rem 1rem;
    transform: translateX(-50%);

    &--active {
      top: 1rem;
      opacity: 1;
    }
  }

  .app__title {
    color: var(--main-title-color);
    font-weight: 700;
    margin: 0 0 .4rem;
    text-align: center;
  }

  .app__subtitle {
    color: var(--main-subtitle-color);
    margin: 0 0 2rem;
    text-align: center;
  }

  .app__select {
    align-items: center;
    display: flex;
    margin: 0 0 2rem;
    width: 100%;
  }

  .app__fields {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto 2rem;
    width: 100%;
  }

  .app__input-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .4rem;
  }

  .app__base-values {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin: 0 auto 2rem;
    width: 100%;
  }
}