@use './theme';

// Components
@use './components/accordion';
@use './components/input';
@use './components/select';
@use './components/switch';

// Layout
@use './layout/app';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--global-background);
  color: var(--global-color);
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-width: 22.5rem;
  padding: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}